openapi: 3.0.2
info:
  title: The Nordic Smart Government's document/voucher collection API
  description: Provides the The Nordic Smart Government's document/voucher (invoices, bank statements, receipts, sales and purchase orders etc) collection
  version: '0.1'
  contact:
    name: Nordic Smart Government
    url: 'https://nordicsmartgovernment.github.io'
  license:
    name: CC0 1.0 Universal (CC0 1.0)
    url: 'http://creativecommons.org/publicdomain/zero/1.0/deed.no'
externalDocs:
  description: Documentation on nordicsmartgovernment docs
  url: https://nordicsmartgovernment.github.io
servers:
  - url: 'https://api.nordicsmartgovernment.org'
    description: The reference implementation server
  - url: 'https://nsg.fellesdatakatalog.brreg.no/swagger-ui.html'
    description: The Demo-environment Swagger UI endpoint
tags:
  - name: documentCollection
    description: documentCollection operations
paths:
  /document/{companyId}:
    get:
      tags:
        - documentCollection
      description: List every company document in the catalog
      operationId: getDocuments
      parameters:
        - name: companyId
          in: path
          required: true
          description: The document owner companyId
          schema:
            type: string
        - name: documentTypes
          in: query
          description: Filter documents by document types (comma-separated list of mime-types)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: object
                description: XML array of all matching company documents (BASE64-encoded)
            application/json:
              schema:
                type: object
                description: List of IDs for all matching company documents
    post:
      tags:
        - documentCollection
      description: create new document in the catalog
      operationId: createDocument
      parameters:
        - name: companyId
          in: path
          required: true
          description: The document owner companyId
          schema:
            type: string
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: The url to the new document
      requestBody:
        required: true
        content:
          "*/*":
            schema:
              type: string
              description: A document (Finvoice/Invoice etc) in the form of a string
  /document/{companyId}/{transactionId}:
    get:
      tags:
        - documentCollection
      description: Get documents by transaction id
      operationId: getDocumentsByTransactionId
      parameters:
        - name: companyId
          in: path
          required: true
          description: The document owner companyId
          schema:
            type: string
        - name: transactionId
          in: path
          required: true
          description: The id of the document transaction
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: List of IDs for all matching transaction documents
    post:
      tags:
        - documentCollection
      description: create new document in the catalog and appends it to the given transaction
      operationId: createDocumentInTransaction
      parameters:
        - name: companyId
          in: path
          required: true
          description: The document owner companyId
          schema:
            type: string
        - name: transactionId
          in: path
          required: true
          description: The id of the transaction to append to
          schema:
            type: string
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: The url to the new document
      requestBody:
        required: true
        content:
          "*/*":
            schema:
              type: string
              description: A document (Finvoice/Invoice etc) in the form of a string
  /document/{companyId}/{transactionId}/{documentId}:
    get:
      tags:
        - documentCollection
      description: Get a document by id
      operationId: getDocumentById
      parameters:
        - name: companyId
          in: path
          required: true
          description: The document owner companyId
          schema:
            type: string
        - name: transactionId
          in: path
          required: true
          description: The id of the document transaction
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          description: The id of the document
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Document"
components:
  schemas:
    Document:
      type: object
