openapi: 3.0.2
info:
  description: Provides the The Nordic Smart Government's e-invoice collection
  version: '0.1'
  title: The Nordic Smart Government's invoice collection API
  contact:
    name: Nordic Smart Government
    url: 'https://nordicsmartgovernment.github.io'
  license:
    name: CC0 1.0 Universal (CC0 1.0)
    url: 'http://creativecommons.org/publicdomain/zero/1.0/deed.no'
externalDocs:
  description: Documentation on nordicsmartgovernment docs
  url: https://nordicsmartgovernment.github.io
servers:
  - url: 'https://api.nordicsmartgovernment.org'
    description: The reference implementation server
tags:
  - name: invoiceCollection
    description: invoiceCollection operations
paths:
  /invoices:
    get:
      tags:
        - invoiceCollection
      description: List every invoice in the catalog
      operationId: getInvoices
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Invoice"
    post:
      tags:
        - invoiceCollection
      description: create new invoice in the catalog
      operationId: createInvoice
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: The url to the new invoice
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: "#/components/schemas/Invoice"
  /invoices/{id}:
    get:
      tags:
        - invoiceCollection
      description: Get an invoice by id
      operationId: getInvoiceById
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the Invoice
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/Invoice"
components:
  schemas:
    Invoice:
      type: object
      properties:
        CustomizationID:
          type: string
        ProfileID:
          type: string
        ID:
          type: string
        IssueDate:
          type: string
          format: date
        DueDate:
          type: string
        InvoiceTypeCode:
          type: string
        DocumentCurrencyCode:
          type: string
        AccountingCost:
          type: string
        BuyerReference:
          type: string
