openapi: 3.0.2
info:
  description: Provides the The Nordic Smart Government's transaction collection in XBRL GL
  version: '0.1'
  title: The Nordic Smart Government's transaction collection API
  contact:
    name: Nordic Smart Government
    url: 'https://nordicsmartgovernment.github.io'
  license:
    name: CC0 1.0 Universal (CC0 1.0)
    url: 'http://creativecommons.org/publicdomain/zero/1.0/deed.no'
externalDocs:
  description: Documentation on nordicsmartgovernment docs
  url: https://nordicsmartgovernment.github.io
servers:
  - url: 'https://api.nordicsmartgovernment.org'
    description: The reference implementation server
tags:
  - name: transactionCollection
    description: transactionCollection operations
  - name: writeTransaction
    description: operations that writes or updates a single transcation
paths:
  /transactions:
    get:
      tags:
        - transactionCollection
      description: List every transaction in the catalog
      operationId: getTransactions
      parameters:
        - name: organizationId
          in: query
          description: The id of the organization to which the invoice belongs
          required: false
          schema:
            type: string
        - name: invoiceType
          in: query
          description: The type of the invoice
          required: false
          schema:
            type: string
            enum:
            - incoming
            - outgoing
            - all
            default: all
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Transaction"
  /transactions/{id}:
    get:
      tags:
        - transactionCollection
      description: Get a transaction by id
      operationId: getTransactionById
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the Transaction
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/Transaction"
    patch:
      tags:
        - writeTransaction
      description: Patch a transaction
      operationId: patchTransactionById
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the transaction
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/Transaction"
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Diff'
components:
  schemas:
    Transaction:
      type: object
    Diff:
      description: The patch operation conforms to RFC 5261
      type: object
      properties:
        replace:
          type: object
          properties:
            sel:
              description: reference to the element
              type: string
            value:
              description: the new value of the element
